.numberpositive {
  color: rgba(0,0,0,.87);
  font-size: 12px; 
  text-align: right;
}

.numbernegative {
  color: red;
  font-size: 12px; 
  text-align: right;
}

.table-row {
  height: auto !important;
}