
<div style="display: inline-flex;">
  <h4 style="margin-top: 4px">Current balance ({{currentDate | date}}):  </h4>
  <h3 style="margin-left: 8px; margin-top: 4px">{{yearData[1].balance | currency: 'JPY'}}</h3>
</div>
<hr>

<ul class="clr-timeline clr-timeline-horizontal">
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header" style="font-size: 16px">2019</div>
    <clr-icon [attr.shape]="yearData[0].icon" aria-label="Not started" (click)="doClick(2019)" style="cursor: pointer"></clr-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Balance: {{yearData[0].balance | currency: 'JPY'}}</span>
      <hr>
      <span class="clr-timeline-step-description">Previous: {{0 | currency: 'JPY'}}</span>
      <span class="clr-timeline-step-description">Total credits: {{yearData[0].valuein | currency: 'JPY'}}</span>
      <span class="clr-timeline-step-description">Total debits: {{yearData[0].valueout | currency: 'JPY'}}</span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header" style="font-size: 16px">2020</div>
    <clr-icon [attr.shape]="yearData[1].icon" aria-label="Not started" (click)="doClick(2020)" style="cursor: pointer"></clr-icon>
    <div class="clr-timeline-step-body">    
      <span class="clr-timeline-step-title">Balance: {{yearData[1].balance | currency: 'JPY'}}</span>
      <hr>
      <span class="clr-timeline-step-description">Previous: {{yearData[0].balance | currency: 'JPY'}}</span>
      <span class="clr-timeline-step-description">Total credits: {{yearData[1].valuein | currency: 'JPY'}}</span>
      <span class="clr-timeline-step-description">Total debits: {{yearData[1].valueout | currency: 'JPY'}}</span>
    </div>
  </li>
<!--
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header" style="font-size: 16px">2021</div>
    <clr-icon [attr.shape]="yearData[2].icon" aria-label="Not started" (click)="doClick(2021)" style="cursor: pointer"></clr-icon>
    <div class="clr-timeline-step-body">    
      <span class="clr-timeline-step-title">Balance: {{yearData[2].balance | currency: 'JPY'}}</span>
      <hr>
      <span class="clr-timeline-step-description">Previous: {{yearData[1].balance | currency: 'JPY'}}</span>
      <span class="clr-timeline-step-description">Total credits: {{yearData[2].valuein | currency: 'JPY'}}</span>
      <span class="clr-timeline-step-description">Total debits: {{yearData[2].valueout | currency: 'JPY'}}</span>
    </div>
  </li>
-->
</ul>

<table mat-table [dataSource]="data" class="mat-elevation-z2" style="font-family: metropolis; font-size: 12px; width: 100%">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef style="background-color: #fbfbfb; font-size: 11px; font-weight: bold">Date</th>
    <td mat-cell *matCellDef="let element" style="font-size: 11px"> {{element.date | date: 'dd/MMM'}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="background-color: #fbfbfb; font-size: 11px; font-weight: bold">Description</th>
    <td mat-cell *matCellDef="let element" style="font-size: 11px"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="valueout">
    <th mat-header-cell *matHeaderCellDef style="background-color: #fbfbfb; font-size: 11px; font-weight: bold; text-align: right">Debit</th>
    <td mat-cell *matCellDef="let element" [ngClass]="element.valueout>0?'numberpositive':'numbernegative'">{{(element.valueout>0?element.valueout:'') | currency: 'JPY' }} </td>
  </ng-container>
  <ng-container matColumnDef="valuein">
    <th mat-header-cell *matHeaderCellDef style="background-color: #fbfbfb; font-size: 11px; font-weight: bold; text-align: right">Credit</th>
    <td mat-cell *matCellDef="let element" [ngClass]="element.valuein>0?'numberpositive':'numbernegative'">{{(element.valuein>0?element.valuein:'') | currency: 'JPY' }} </td>
  </ng-container>
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef style="background-color: #fbfbfb; font-size: 11px; font-weight: bold; text-align: right">Balance</th>
    <td mat-cell *matCellDef="let element" [ngClass]="element.balance>0?'numberpositive':'numbernegative'">{{element.balance | currency: 'JPY' }} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
</table>
